
.monaco-workbench>.part.statusbar {
	color: #999999 !important;
	background: #333333 !important;
}

.margin-view-overlays {
	color: #595959 !important;
	background: #212121 !important;
}

.monaco-editor.vs-dark .reference-zone-widget {
	border-top-color: #595959 !important;
	border-bottom-color: #595959 !important;
}

.monaco-editor.vs-dark .peekview-widget .head {
	border-top-color: #595959 !important;
}

.monaco-editor.vs-dark .reference-zone-widget, .monaco-editor.vs-dark .reference-zone-widget .preview .monaco-editor-background {
	background-color: #1F1F1F !important;
}
